USE [master]
GO
/****** Object:  Database [DBPersonasT3]    Script Date: 4/1/2017 1:13:54 PM ******/
CREATE DATABASE [DBPersonasT3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBPersonasT3', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBPersonasT3.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBPersonasT3_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBPersonasT3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPersonasT3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPersonasT3]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 4/1/2017 1:13:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](15) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([ID], [Cedula], [Nombre]) VALUES (1, N'1-1111-1111', N'Luis Perez Aguilar')
INSERT [dbo].[Persona] ([ID], [Cedula], [Nombre]) VALUES (2, N'2-0022-2222', N'Maria Solano Solano')
INSERT [dbo].[Persona] ([ID], [Cedula], [Nombre]) VALUES (3, N'5-1523-5848', N'Alexander Barquero')
SET IDENTITY_INSERT [dbo].[Persona] OFF
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPersonas]    Script Date: 4/1/2017 1:13:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPersonas] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Persona
END

GO
USE [master]
GO
